@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body{
  font-family: "Pixelify Sans";
  display: flex;
  background-color: #2e3440;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
    .root-container {
        display:          flex;
        flex-direction:   row;
        justify-content:  center;
    }

    .info {
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .News{
        margin-left: 10px;
    }

    .infotext{
        margin-left: 10px;
        margin-right: 10px;
    }

    .mybutton{
    margin-top: 420px;
    }

    .pageslinks{
         margin: 5px;
    }

    .LinksBackground{
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
    }
}

@media screen and (max-width: 767px) {
    .root-container {
        display:          flex;
        flex-direction:   column;
        justify-content:  center;
    }

    .mybutton{
        margin-top: 10px;
    }

    .pagebutton{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }    

    .pageslinks{
        margin-top: 15px;
        margin-left: 10px;
    }

    .LinksBackground{
        max-height: 355px;
        max-width: 364px;
        height: auto;
        width: auto;
    }
}



.info{   
    margin-top: 10px;
    background-color: #3b4252;
    border: 2px #434c5e solid;
    border-radius: 10px;
    padding-bottom: 20px;
}



.LinksBackground{
    margin-top: 10px;
    justify-content: center;
    background-color: #3b4252;
    border: 2px #434c5e solid;
    border-radius: 10px;
    padding-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.News{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    background-color: #3b4252;
    border: 2px #434c5e solid;
    border-radius: 10px;
    padding-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.links {
    padding:            10px;
    border-radius:      10px;
    height:             30px;
    width:              150px;
    background-color:   #2e3440;
    color:              ghostwhite;
    display:            flex;
    flex-direction:     column;
    text-align:         center;
    justify-content:    center;
    margin-left: 5px;
    margin-right: 5px;
}

.LinksGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 236px;
    max-width: 360px;
    height: auto;
    width: auto;
}

img { 
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.avatarmini{
    border-radius: 10px; 
    border: 2px #434c5e solid;
    border-radius: 10px;
    max-width: 300px;
    max-height: 300px;
    height: auto;
    width: auto;
}

.imagemini{
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;  
    color: ghostwhite;
    justify-content: center;
}

p {
  color: ghostwhite;
  display: flex;
  justify-content: center;
}

.buttons{
  display: -webkit-box;      
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}

.button{
  height: 35px;
  width: 88px;
  margin-left: 3px;
}

.mybutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.pages{
    
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: #3b4252;
    border: 2px #434c5e solid;
    border-radius: 10px;
    padding-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.pageslinks{
    color:ghostwhite;
    display: flex;
    justify-content: center;
}

.NewsText{
    margin: 10px;
}

.cover{
    border: 2px #434c5e solid;
    border-radius: 10px;
    margin: 10px;
    max-height: 200px;
    height: auto;
}

.coverFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.infoLastFmFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lastfmText{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    color: ghostwhite;
}

.artist{
    color: ghostwhite;
}

.status{
    color: ghostwhite;
}

h1{
    margin: 10px;
}
