@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body{
  font-family: "Pixelify Sans";
  display: flex;
  background-color: #2e3440;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .root-container {
        display:          flex;
        flex-direction:   row;
        justify-content:  center;
  }

  .pages{
    display: flex;
    flex-direction: column;
    margin-right: 10px
  }

  .pageslinks{
         margin: 5px;
  }

  .mybutton{
    margin-top: 283px;
  }

  .Projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .root-container {
        display:          flex;
        flex-direction:   column;
        justify-content:  center;
  }

  .mybutton{
        margin-top: 10px;
  }

    .pagebutton{
        display: flex;
        flex-direction: row;
        justify-content: center;
  }    

    .pageslinks{
        margin-top: 15px;
        margin-left: 10px;
  }

  .Projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.pages{
    margin-top: 10px;
    background-color: #3b4252;
    border: 2px #434c5e solid;
    border-radius: 10px;
    padding-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

.pageslinks{
    color:ghostwhite;
    display: flex;
    justify-content: center;
}

.mybutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.Projects{
  margin-top: 10px;
  background-color: #3b4252;
  border: 2px #434c5e solid;
  border-radius: 10px;
  padding-bottom: 20px;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.ProjectsPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    background-color: #434c5e;
    border: 2px #4c566a solid;
    border-radius: 10px;
    padding-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

h1{
  color: ghostwhite;
  display: flex;
  justify-content: center;
  margin: 10px
}

p{
  color: ghostwhite;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.buttons{
  padding:            10px;
  border-radius:      10px;
  height:             30px;
  width:              150px;
  background-color:   #3b4252;
  color:              ghostwhite;
  display:            flex;
  flex-direction:     column;
  text-align:         center;
  justify-content:    center;
  margin-left: 5px;
  margin-right: 5px;
}

.ButtonsRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
}